.photo{margin-left: 40%;
width: 300px;
height:250px;
}

p{margin: 100px 45% auto 45%;
background-color: cadetblue;
width: auto;
height:auto;
text-align: center;
}

.Profile{background-color: lavender;
color:mediumblue;
width: 100px;
height : 30px;
border: none;
font-weight: bold;
font-size: auto ;
margin-left: 47%;}

h1{margin-left: 50%;}